[Unit]
Description=Gatekeeper service for leader services
Before=lighttpd.service huey.service create_diskcache.service avahi_aliases.service
After=everyboot.service firstboot.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'if [ "$(crudini --get /home/pioreactor/.pioreactor/config.ini cluster.topology leader_hostname)" = "$(hostname)" ]; then exit 0; else exit 1; fi'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target