[Unit]
Description=Backup Pioreactor database
After=network-online.target

[Service]
Type=oneshot
User=pioreactor
ExecStart=/usr/bin/pio run backup_database

[Install]
WantedBy=multi-user.target

