[Unit]
Description=Connect to Wi-Fi from boot partition credentials
Wants=NetworkManager.service
After=everyboot.service NetworkManager.service
Before=NetworkManager-wait-online.service network-online.target local_access_point.service
ConditionPathExists=/boot/firmware/wifi.ini

[Service]
ExecStart=/bin/bash /usr/local/bin/bootfs_wifi.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
