[Unit]
Description=Huey service for Pioreactor web tasks
After=network.target firstboot.service everyboot.service
Before=lighttpd.service
PartOf=pioreactor-web.target
OnFailure=log-failure@%n.service


[Service]
# Web environment via /etc/pioreactor.env provides DOT_PIOREACTOR
EnvironmentFile=/etc/pioreactor.env
WorkingDirectory=/run/pioreactor
User=pioreactor
# Ensure files created are group-writable/readable for www-data
UMask=0007
# Use module path in merged web package
ExecStart=huey_consumer pioreactor.web.tasks.huey -n -b 1.001 -w 10 -f -C -d 0.05
ExecStartPost=pio log -m "%n successful" -n systemd --local-only
StandardOutput=null
StandardError=null
Restart=always

[Install]
WantedBy=multi-user.target
