[Unit]
Description=Load program into RP2040
Before=basic.target
After=local-fs.target sysinit.target firstboot.service
DefaultDependencies=no

[Service]
ExecStart=/bin/bash /usr/local/bin/load_rp2040.sh
ExecStartPost=pio log -m "%n successful" -n systemd --local-only
Type=oneshot

[Install]
WantedBy=basic.target
