[Unit]
Description=Log failure for %i
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/pioreactor.env
ExecStart=pio log -m "Service %i failed to start" -l ERROR && python /usr/local/bin/led_control.py --blink
