[Unit]
Description=Log failure for %i
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/pioreactor.env
ExecStart=/opt/pioreactor/venv/bin/pio log -m "Service %i failed to start" -l ERROR
