[Unit]
Description=Start local access point using RaspAP
Before=network-pre.target
Wants=network-pre.target

[Service]
ExecStart=/bin/bash /usr/local/bin/conditionally_start_raspap.sh
# don't use pio, as this runs in parallel to other commands like firstboot.sh which is needed for pio.
# ExecStartPost=pio log -m "%n successful" -n systemd --local-only
Type=oneshot

[Install]
WantedBy=network.target
