[Unit]
Description=Writes networking information to /boot/firmware/network_info.txt
Wants=network-online.target NetworkManager.service
After=network-online.target NetworkManager.service

[Service]
ExecStart=/bin/bash /usr/local/bin/write_ip.sh
Type=oneshot

[Install]
WantedBy=multi-user.target